site_name: BMTool Documentation
site_url: https://cyneuro.github.io/bmtool/
site_author: Neural Engineering Laboratory at the University of Missouri
site_description: Documentation for BMTool - A collection of modules to make developing Neuron and BMTK models easier

repo_name: cyneuro/bmtool
repo_url: https://github.com/cyneuro/bmtool
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - content.code.copy
    - content.tabs.link
  icon:
    repo: fontawesome/brands/github
  toc:
    permalink: true
    slugify: !!python/name:pymdownx.slugs.uslugify
    toc_depth: 3

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.tabbed
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - footnotes
  - attr_list
  - md_in_html
  - tables

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            docstring_style: numpy
  - mkdocs-jupyter:
      include_source: True
      execute: false
      ignore_h1_titles: True
      show_input: True
      theme: light
      kernel_name: python3
      allow_errors: false
      include_requirejs: true
      no_input: false

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Modules:
      - Single Cell: modules/singlecell.md
      - Synapses: modules/synapses.md
      - Connectors: modules/connectors.md
      - BMPlot:
          - Overview: modules/bmplot.md
          - Connection Plotting: modules/bmplot/connections.md
          - Spike Plotting: modules/bmplot/spikes.md
          - LFP/ECP Plotting: modules/bmplot/lfp.md
          - Entrainment Plotting: modules/bmplot/entrainment.md
      - Analysis:
          - Overview: modules/analysis.md
          - Spike Analysis: modules/analysis/spikes.md
          - LFP/ECP Analysis: modules/analysis/lfp.md
          - Entrainment Analysis: modules/analysis/entrainment.md
          - Network Connectivity: modules/analysis/netcon_reports.md
      - SLURM: modules/slurm.md
      - Graphs: modules/graphs.md
  - CLI: cli.md
  - Examples:
      - Single Cell:
          - Overview: examples/single-cell.md
          - Single Cell Analysis: examples/notebooks/single_cell/single_cell_analysis.ipynb
      - Synapses:
          - Overview: examples/synapses.md
          - BMTK Chemical Synapse Tuner: examples/notebooks/synapses/synaptic_tuner/bmtk_chem_syn_tuner.ipynb
          - Neuron Chemical Synapse Tuner: examples/notebooks/synapses/synaptic_tuner/neuron_chem_syn_tuner.ipynb
          - Gap Junction Tuner: examples/notebooks/synapses/gap_junction_tuner/gap_junction_tuner.ipynb
      - Connectors:
          - Overview: examples/connectors.md
          - Connectors Tutorial: examples/notebooks/connectors/connectors.ipynb
      - BMPlot:
          - Overview: examples/bmplot.md
          - BMPlot Tutorial: examples/notebooks/bmplot/bmplot.ipynb
      - Analysis:
          - Overview: examples/analysis.md
          - Spikes Module: examples/notebooks/analysis/spiking/using_spikes.ipynb
          - Plot Spectrogram: examples/notebooks/analysis/spectrogram/spectrogram_with_bmtool.ipynb
          - Phase Locking: examples/notebooks/analysis/phase_locking_value/spike_phase_entrainment.ipynb
          - Phase Locking (Dev): examples/notebooks/analysis/phase_locking_value/phase_locking_value.ipynb
          - Synapse Report: examples/notebooks/analysis/netcon_report/netcon_example.ipynb
      - SLURM:
          - Overview: examples/slurm.md
          - Block Runner: examples/notebooks/SLURM/using_BlockRunner.ipynb
  - Contributing: contributing.md
  - API Reference:
      - Single Cell: api/singlecell.md
      - Synapses: api/synapses.md
      - Connectors: api/connectors.md
      - BMPlot:
          - Overview: api/bmplot.md
          - Connection Plotting: api/bmplot/connections.md
          - Spike Plotting: api/bmplot/spikes.md
          - LFP/ECP Plotting: api/bmplot/lfp.md
          - Entrainment Plotting: api/bmplot/entrainment.md
      - Analysis:
          - Overview: api/analysis.md
          - Spike Analysis: api/analysis/spikes.md
          - LFP/ECP Analysis: api/analysis/lfp.md
          - Entrainment Analysis: api/analysis/entrainment.md
          - Network Connectivity: api/analysis/netcon_reports.md
      - SLURM: api/slurm.md
      - Graphs: api/graphs.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/cyneuro/bmtool

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/collapse-nav.js
  - javascripts/notebook-download.js
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
